################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GallinasShowRoom3D/GallinasShowRoom
/GallinasShowRoom3D/GallinasShowRoom
/GallinasShowRoom3D/GallinasShowRoom
/iTravel/iTravel
