<div class="animate-this" ng-controller="Checkout as vm" ng-hide="vm.isHidden">
    <md-content class="view" layout-align="center" layout-fill layout="row">
        <div flex>
            <md-card>
                <md-content>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <div flex layout="row">
                                <h1 class="md-toolbar-tools">{{vm.title}}</h1>
                            </div>
                        </div>
                    </md-toolbar>
                    <md-subheader class="md-primary">Items in shopping cart</md-subheader>
                    <md-list ng-hide="{{vm.items.length == 0}}">
                        <md-list-item class="md-3-line" ng-repeat="item in vm.items">
                            <img ng-src="{{item.src}}" class="checkout-avatar md-avatar" alt="{{item.name}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.name }}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{painting.name}}</span>
                        <span class="md-subhead">{{painting.text}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div>
                        <md-input-container class="md-icon-float md-block">
                            <label>Name</label>
                            <md-icon>face</md-icon>
                            <input ng-model="user.name" type="text">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <md-icon>contact_phone</md-icon>
                            <input ng-model="user.phone" type="text" placeholder="Phone Number">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <md-icon>email</md-icon>
                            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <md-tooltip md-direction="left">
                                Shipping address
                            </md-tooltip>
                            <md-icon>home</md-icon>
                            <input ng-model="user.address" type="text" placeholder="Address">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <md-tooltip md-direction="left">
                               Any questions or comments?
                            </md-tooltip>
                            <md-icon>comment</md-icon>
                            <textarea ng-model="user.biography" columns="1" md-maxlength="150" rows="5"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end">
                        <md-button class="md-raised md-primary">Send</md-button>
                    </div>
                </md-card-content>
                <md-card-actions>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>


    <!--<md-content ng-hide="{{vm.items.length == 0}}" layout="column">
        <md-list>
            <md-subheader class="md-no-sticky">Items in shopping cart</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in vm.items">
                <img height="40" width="40" ng-src="{{item.src}}" class="md-avatar" alt="{{item.name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.name }}</h3>
                    <h4>{{ item.text }}</h4>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
    <md-content layout="column">
        <div>
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon>face</md-icon>
                <input ng-model="user.name" type="text">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <md-icon>settings_phone</md-icon>
                <input ng-model="user.phone" type="text" placeholder="Phone Number">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <md-icon>email</md-icon>
                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <md-icon>home</md-icon>
                <input ng-model="user.address" type="text" placeholder="Address">
            </md-input-container>
        </div>
        <div>
            <md-button class="md-raised md-primary">Send</md-button>
        </div>
        
    </md-content>-->

</div>
