html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:'Times New Roman';
}

.side-nav {
    border-right: 1px solid rgba(0,0,0,0.14);
    bottom: 0;
    background: #fff;
    color: #333;
    display: block;
    font-family: "RobotoDraft","Roboto",sans-serif;
    left: 0;
    position: fixed;
    top: 0;
    width: 240px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform,left;
    -moz-transition-property: -moz-transform,left;
    transition-property: transform,left;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

#side-nav-toolbar {
  background: #f6f6f6 !important;
  color: #666 !important;
  z-index: 3;
}

#side-nav-toolbar #logo {
    display: block;
    height: 64px;
    padding: 12px 0 11px 24px;
    margin:0;
    position: relative
}


#renderCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    touch-action: none;
}

.checkout-avatar {
    height: 60px !important;
    width: 60px !important;
}

.gallery-card-img {
    margin:0;
    padding:0;
}

.gallery-menu-vert {
    margin-right:0 !important;
}

.content {
  max-width: 864px;
  margin: 16px;
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

ul.buckets li a {
    display: block;
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    background-color: #f6f6f6 !important;
    box-shadow: none !important;
    margin-right: 0;
    margin-top: 0;
}

.menu-item {
    padding:10px;
    font-weight: 600;
}

.view {
    opacity:1;
    transition: 1s ease-in all;   
}

.view.ng-hide{
     opacity:0;
}

.view.ng-show {
     opacity:1;
}


.thumb_up_active {
    color: dodgerblue;
}


.plus_one_active {
    opacity:1;
    font-size:14px;
    color: dodgerblue !important;
    transition: 1s ease-in all;
}

.plus_one_active.ng-hide {
  opacity:0;
}

.minus_one_active {
    opacity:1;
    font-size:14px;
    transition: 1s ease-in all;
    color: red !important;
}

.minus_one_active.ng-hide {
  opacity:0;
}

.item_added {
    color: green;
}


.animate-this.ng-hide-remove,
.animate-this.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.animate-this.ng-hide-add {
  -webkit-animation:1s hide;
  animation:1s hide;
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

.animate-this.ng-hide-remove {
  -webkit-animation:1s show;
  animation:1s show;
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}